<div class="container-fluid green lighten-5" style="padding-right: 0px; padding-left: 0px;">
    <div class="container mt-5 pt-5 pb-5">
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
            <h3 class="font-weight-bold">Lets get Started</h3>
            <p class="text-muted mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente molestiae
        numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum reiciendis
        doloribus eius optio autem. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <div class="row">
                <div class="col-lg-3 col-md-12 mb-lg-0 mb-4">
                    <img src="https://mdbootstrap.com/img/Others/cards.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-lg-0 mb-2">
                    <h4 class="h4">Why is it so great?</h4>
                    <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente molestiae
            numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam.</p>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <a class="btn btn-outline-green darken-1 btn-md waves-effect" href="{% url 'main:register' %}" role="button">Sign Up Now</a>
                    <a class="btn btn-green darken-1 btn-md" href="{% url 'main:login_user' %}" role="button">Start now<i class="fa fa-magic ml-1"></i></a>
                </div>
            </div>
        </section>
    </div>
</div>
