<div class="container-fluid green lighten-5 pt-5 my-5" style="padding-left: 0px; padding-right: 0px;">

    <div class="container">
    <section class="p-md-3 mx-md-5 text-lg-left">
    <div class="row d-flex justify-content-center">
      <h2 class="font-weight-bold pb-4">Features</h2>
    </div>
    <div class="row text-center d-flex justify-content-center mt-4">
      <div class="col-lg-4 col-md-6 mb-5">
        <i class="far fa-edit indigo-text fa-3x mb-4"></i>
        <h4 class="font-weight-bold mb-4">Create</h4>
        <p class="text-muted px-2 mb-lg-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <i class="fa fa-tasks pink-text fa-3x mb-4"></i>

        <h4 class="font-weight-bold mb-4">Organize</h4>
        <p class="text-muted px-2 mb-lg-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <i class="fa fa-chart-bar blue-text fa-3x mb-4"></i>

        <h4 class="font-weight-bold mb-4">Track</h4>
        <p class="text-muted px-2 mb-md-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </section>
    </div>
</div>