<div class="container my-2 py-5 ">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" class="text-center">
                            {% csrf_token %}
                            <p class="h4 mb-4">Register</p>
                            <p>Get control of you daily tasks. Register now and take back your life</p>

                            <input type="text" name="username" id="username" class="form-control mb-4" placeholder="Username">
                            <input type="password" name="password1" id="password1" class="form-control mb-4" placeholder="Password">
                            <input type="password" name="password2" id="password2" class="form-control mb-4" placeholder="Confirm Password">
                            <button class="btn btn-block btn-green" type="submit">Register</button>
                        </form>
                        <div class="text-center mt-3">
                            Do you already have an account? <a href="">Login here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


