{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="container mt-4" style="height: 85vh;">
        <div class="jumbotron text-center" style="box-shadow: none !important;">
            <h2 class="card-title h2">Simply Your Life With WhatsNext</h2>
            <p class="green-text my-4 font-weight-bold">Create and Track your daily tasks</p>
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 pb-2">
                    <p class="card-text">In these crazy days it is easy to get lost in life. But what matters is <u>what</u> you do. <b><i>WhatsNext  </i></b> lets you organize your work and helps you stay on track to complete tasks and meet those important deadlines. Your new organized life awaits.</p>
                </div>
            </div>
            <div class="pt-2 mt-3">
                <button type="button" class="btn btn-green waves-effect">Get started</button>
            </div>
            <div class="container mt-5">
                <a class="fa-lg p-2 m-2 li-ic"><i class="fab fa-linkedin-in green-text"></i></a>
                <a class="fa-lg p-2 m-2 tw-ic"><i class="fab fa-twitter green-text "></i></a>
                <a class="fa-lg p-2 m-2 fb-ic"><i class="fab fa-facebook-f green-text"></i></a>
                <a class="fa-lg p-2 m-2 fb-ic"><i class="fab fa-instagram green-text"></i></a>
            </div>
        </div>
    </div>

    {% include 'partials/_hero.html' %}

    {% include 'partials/_test.html' %}


    {% include 'partials/_cta.html' %}


{% endblock %}