{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h1 class="text-center">Completed Todos</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        {% for task in todos %}
        <div class="col-md-6">
            <div class="card mt-3 mb-4">
                <div class="card-body">
                    <h3 class="card-text">{{ task.title }}</h3>
                    <p class="card-text text-muted">Completed on:  {{  task.date_completed|date:'M j Y H:i' }}</p>
                </div>
            </div>
        </div>
     {% endfor %}
    </div>
{% endblock %}